/* PHASE 3: Content */

.content {
background-color: #fff;
margin: auto;
border-right: 1px solid #aaa;
border-bottom: 1px solid #aaa;
border-left: 1px solid #aaa;
width: 900px

}

.content-sidebar {
  float: left;
  width: 200px;
  padding: 20px;
  font-size: 16px
}

.content-main {
  float: left;
  width: 620px;
  padding: 20px;
  font-size: 16px
}

.content h1 {
  font-size: 24px;
  font-weight: 400
}

.content p {

}
