// Place all the styles related to the BandsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create {
  text-align: center
}

.band {
  display: inline
}

.list {
  position: absolute;
  float: left;
  margin: 5px;
}
